/* You can add global styles to this file, and also import other style files */

body {
    /* background-image: url(/assets/images/background.jpg); */
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 20%, rgba(161,15,15,1) 100%);
    background-repeat: no-repeat;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    align-content: space-around;
    flex-wrap: wrap;
    border: none;
}
